Repository paketo-buildpacks/samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/utilities-maintainers, @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/java-maintainers, @paketo-buildpacks/web-servers-maintainers, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/python-maintainers, @paketo-buildpacks/ruby-maintainers

.github/CODEOWNERS:

*                @paketo-buildpacks/content-maintainers @paketo-buildpacks/steering-committee
ca-certificates/ @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
dotnet-core/     @paketo-buildpacks/dotnet-core-maintainers @paketo-buildpacks/steering-committee
git/             @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
go/              @paketo-buildpacks/go-maintainers @paketo-buildpacks/steering-committee
java/            @paketo-buildpacks/java-maintainers @paketo-buildpacks/steering-committee
nginx/           @paketo-buildpacks/web-servers-maintainers @paketo-buildpacks/steering-committee
nodejs/          @paketo-buildpacks/nodejs-maintainers @paketo-buildpacks/steering-committee
php/             @paketo-buildpacks/php-maintainers @paketo-buildpacks/steering-committee
procfile/        @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
python/          @paketo-buildpacks/python-maintainers @paketo-buildpacks/steering-committee
ruby/            @paketo-buildpacks/ruby-maintainers @paketo-buildpacks/steering-committee
web-servers/     @paketo-buildpacks/web-servers-maintainers @paketo-buildpacks/steering-committee

fix: replacing binary for amd64 with a go app
  procfile/procfile-sample/Procfile
  procfile/procfile-sample/main.go
  procfile/procfile-sample/plan.toml
  procfile/procfile_test.go
Owners: @paketo-buildpacks/utilities-maintainers, @paketo-buildpacks/steering-committee

fix: replacing binary for amd64 with a go app
  procfile/procfile-sample/Procfile
  procfile/procfile-sample/main.go
  procfile/procfile-sample/plan.toml
  procfile/procfile_test.go
Owners: @paketo-buildpacks/utilities-maintainers, @paketo-buildpacks/steering-committee

fix: updating readme instructions on how to build your app on ubuntu and rhel
  nodejs/angular-npm/README.md
  nodejs/no-package-manager/README.md
  nodejs/npm/README.md
  nodejs/vue-npm/README.md
  nodejs/vue-npm/package.json
  nodejs/yarn/README.md
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

fix: updating readme instructions on how to build your app on ubuntu and rhel (#1162)
  nodejs/angular-npm/README.md
  nodejs/no-package-manager/README.md
  nodejs/npm/README.md
  nodejs/vue-npm/README.md
  nodejs/vue-npm/package.json
  nodejs/yarn/README.md
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

Update procfile sample README and Procfile
  procfile/procfile-sample/Procfile
  procfile/procfile-sample/README.md
  procfile/procfile-sample/config.yml
Owners: @paketo-buildpacks/utilities-maintainers, @paketo-buildpacks/steering-committee

Drop full jammy builder from procfile integration test
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Update procfile sample (#1165)
  .github/workflows/test-pull-request-procfile.yml
  procfile/procfile-sample/Procfile
  procfile/procfile-sample/README.md
  procfile/procfile-sample/config.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/utilities-maintainers

build(ruby): update all samples to Ruby 3.4 and latest gems
  ruby/passenger/Gemfile
  ruby/puma/Gemfile
  ruby/rackup/Gemfile
  ruby/rails_assets/Gemfile
  ruby/rails_assets/app/javascript/application.js
  ruby/rails_assets/app/javascript/controllers/application.js
  ruby/rails_assets/app/javascript/controllers/index.js
  ruby/rails_assets/app/views/layouts/application.html.erb
  ruby/rails_assets/babel.config.js
  ruby/rails_assets/config/application.rb
  ruby/rails_assets/config/environments/development.rb
  ruby/rails_assets/config/environments/production.rb
  ruby/rails_assets/config/environments/test.rb
  ruby/rails_assets/config/importmap.rb
  ruby/rails_assets/config/initializers/new_framework_defaults_6_1.rb
  ruby/rails_assets/config/webpack/base.js
  ruby/rails_assets/config/webpack/development.js
  ruby/rails_assets/config/webpack/environment.js
  ruby/rails_assets/config/webpack/production.js
  ruby/rails_assets/config/webpack/test.js
  ruby/rails_assets/config/webpacker.yml
  ruby/rails_assets/postcss.config.js
  ruby/rake/Gemfile
  ruby/thin/Gemfile
  ruby/unicorn/Gemfile
Owners: @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/steering-committee

fix(ruby): complete Rails 8.1 migration to importmap
  ruby/rails_assets/package.json
  ruby/rails_assets/yarn.lock
  ruby/ruby_test.go
Owners: @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/steering-committee

fix(ruby): add missing Gemfile.lock files for all samples
  ruby/passenger/Gemfile.lock
  ruby/puma/Gemfile.lock
  ruby/rackup/Gemfile.lock
  ruby/rails_assets/Gemfile.lock
  ruby/rake/Gemfile.lock
  ruby/thin/Gemfile
  ruby/thin/Gemfile.lock
  ruby/unicorn/Gemfile.lock
Owners: @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/steering-committee

fix(ruby): add puma to rackup and remove sass-rails from rails_assets
  ruby/rackup/Gemfile
  ruby/rackup/Gemfile.lock
  ruby/rails_assets/Gemfile
  ruby/rails_assets/Gemfile.lock
Owners: @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/steering-committee

fix(ruby): revert puma addition to rackup sample
  ruby/rackup/Gemfile
  ruby/rackup/Gemfile.lock
Owners: @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/steering-committee

fix(ruby): add sprockets-rails to rails_assets sample
  ruby/rails_assets/Gemfile
  ruby/rails_assets/Gemfile.lock
Owners: @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/steering-committee

fix(ruby): add webrick gem to rackup sample
  ruby/rackup/Gemfile
  ruby/rackup/Gemfile.lock
Owners: @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/steering-committee

fix(ruby): skip rails_assets test for base builder
  ruby/ruby_test.go
Owners: @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/steering-committee

fix(ruby): prevent cleanup errors when rails_assets test is skipped
  ruby/ruby_test.go
Owners: @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/steering-committee

build(ruby): update all samples to Ruby 3.4 and latest gems (#1172)
  ruby/passenger/Gemfile
  ruby/passenger/Gemfile.lock
  ruby/puma/Gemfile
  ruby/puma/Gemfile.lock
  ruby/rackup/Gemfile
  ruby/rackup/Gemfile.lock
  ruby/rails_assets/Gemfile
  ruby/rails_assets/Gemfile.lock
  ruby/rails_assets/app/javascript/application.js
  ruby/rails_assets/app/javascript/controllers/application.js
  ruby/rails_assets/app/javascript/controllers/index.js
  ruby/rails_assets/app/views/layouts/application.html.erb
  ruby/rails_assets/babel.config.js
  ruby/rails_assets/config/application.rb
  ruby/rails_assets/config/environments/development.rb
  ruby/rails_assets/config/environments/production.rb
  ruby/rails_assets/config/environments/test.rb
  ruby/rails_assets/config/importmap.rb
  ruby/rails_assets/config/initializers/new_framework_defaults_6_1.rb
  ruby/rails_assets/config/webpack/base.js
  ruby/rails_assets/config/webpack/development.js
  ruby/rails_assets/config/webpack/environment.js
  ruby/rails_assets/config/webpack/production.js
  ruby/rails_assets/config/webpack/test.js
  ruby/rails_assets/config/webpacker.yml
  ruby/rails_assets/package.json
  ruby/rails_assets/postcss.config.js
  ruby/rails_assets/yarn.lock
  ruby/rake/Gemfile
  ruby/rake/Gemfile.lock
  ruby/ruby_test.go
  ruby/thin/Gemfile
  ruby/thin/Gemfile.lock
  ruby/unicorn/Gemfile
  ruby/unicorn/Gemfile.lock
Owners: @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Apply suggestion from @dmikusa
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updates tools (#1214)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools (#1228)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Bump native image spring apps to Java 25
  java/native-image/spring-boot-native-image-gradle/build.gradle
  java/native-image/spring-boot-native-image-maven/pom.xml
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

Bump more versions to 25
  .github/workflows/java-public-static-main-native-image-maven.yml
  .github/workflows/java-spring-boot-native-image-gradle.yml
  .github/workflows/java-spring-boot-native-image-maven.yml
  java/native-image/public-static-main-native-image-maven/pom.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/java-maintainers

Upgrade to Gradle 9
  java/native-image/spring-boot-native-image-gradle/build.gradle
  java/native-image/spring-boot-native-image-gradle/gradle/wrapper/gradle-wrapper.properties
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

Update Maven wrapper
  java/native-image/public-static-main-native-image-maven/.mvn/wrapper/maven-wrapper.jar
  java/native-image/public-static-main-native-image-maven/.mvn/wrapper/maven-wrapper.properties
  java/native-image/public-static-main-native-image-maven/mvnw
  java/native-image/public-static-main-native-image-maven/mvnw.cmd
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

Update Maven wrapper
  java/native-image/spring-boot-native-image-maven/.mvn/wrapper/maven-wrapper.jar
  java/native-image/spring-boot-native-image-maven/.mvn/wrapper/maven-wrapper.properties
  java/native-image/spring-boot-native-image-maven/mvnw
  java/native-image/spring-boot-native-image-maven/mvnw.cmd
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

Bump to Spring Boo 4.0.1
  java/native-image/spring-boot-native-image-maven/pom.xml
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

Force Java 25
  java/native-image/public-static-main-native-image-maven/README.md
  java/native-image/public-static-main-native-image-maven/smoke_test/java_native_image_public_static_main_test.go
  java/native-image/spring-boot-native-image-gradle/smoke_test/java_native_image_gradle_test.go
  java/native-image/spring-boot-native-image-maven/README.md
  java/native-image/spring-boot-native-image-maven/smoke_test/java_native_image_maven_test.go
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee
