Repository paketo-buildpacks/samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/java-buildpacks, @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/ruby-maintainers

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers

Removes buildpack.yml files
  go/dep/buildpack.yml
  go/dep/project.toml
  nginx/nginx-sample/buildpack.yml
Owners: @paketo-buildpacks/go-maintainers, @paketo-buildpacks/php-maintainers

Removes buildpack.yml files
  go/dep/buildpack.yml
  go/dep/project.toml
  nginx/nginx-sample/buildpack.yml
Owners: @paketo-buildpacks/go-maintainers, @paketo-buildpacks/php-maintainers

add rails app readme
  ruby/rails_assets/README.md
Owners: @paketo-buildpacks/ruby-maintainers

add rails app readme
  ruby/rails_assets/README.md
Owners: @paketo-buildpacks/ruby-maintainers

Disable building non-executable JAR
  java/gradle/build.gradle
  java/kotlin/build.gradle.kts
Owners: @paketo-buildpacks/java-buildpacks

update packages in rails assets app
  ruby/rails_assets/yarn.lock
Owners: @paketo-buildpacks/ruby-maintainers

Adds a non-Spring Boot Java Native Image example
  java/native-image/java_native_image_test.go
  java/native-image/public-static-main/.gitignore
  java/native-image/public-static-main/.mvn/wrapper/MavenWrapperDownloader.java
  java/native-image/public-static-main/.mvn/wrapper/maven-wrapper.jar
  java/native-image/public-static-main/.mvn/wrapper/maven-wrapper.properties
  java/native-image/public-static-main/mvnw
  java/native-image/public-static-main/pom.xml
  java/native-image/public-static-main/src/main/java/io/paketo/App.java
Owners: @paketo-buildpacks/java-buildpacks

Adds a non-Spring Boot Java Native Image example (#243)
  java/native-image/java_native_image_test.go
  java/native-image/public-static-main/.gitignore
  java/native-image/public-static-main/.mvn/wrapper/MavenWrapperDownloader.java
  java/native-image/public-static-main/.mvn/wrapper/maven-wrapper.jar
  java/native-image/public-static-main/.mvn/wrapper/maven-wrapper.properties
  java/native-image/public-static-main/mvnw
  java/native-image/public-static-main/pom.xml
  java/native-image/public-static-main/src/main/java/io/paketo/App.java
Owners: @paketo-buildpacks/java-buildpacks

Disable building non-executable JAR
  java/gradle/build.gradle
  java/kotlin/build.gradle.kts
Owners: @paketo-buildpacks/java-buildpacks

.github/CODEOWNERS:

*                @paketo-buildpacks/content-maintainers
ca-certificates/ @paketo-buildpacks/java-buildpacks
dotnet-core/     @paketo-buildpacks/dotnet-core-maintainers
go/              @paketo-buildpacks/go-maintainers
httpd/           @paketo-buildpacks/php-maintainers
java/            @paketo-buildpacks/java-buildpacks
nginx/           @paketo-buildpacks/php-maintainers
nodejs/          @paketo-buildpacks/nodejs-maintainers
php/             @paketo-buildpacks/php-maintainers
procfile/        @paketo-buildpacks/java-buildpacks
ruby/            @paketo-buildpacks/ruby-maintainers
