Repository paketo-buildpacks/samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/utilities-maintainers, @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/java-maintainers, @paketo-buildpacks/web-servers-maintainers, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/python-maintainers, @paketo-buildpacks/ruby-maintainers

Bump native image spring apps to Java 25 (#1240)
  .github/workflows/java-public-static-main-native-image-maven.yml
  .github/workflows/java-spring-boot-native-image-gradle.yml
  .github/workflows/java-spring-boot-native-image-maven.yml
  java/native-image/public-static-main-native-image-maven/.mvn/wrapper/maven-wrapper.jar
  java/native-image/public-static-main-native-image-maven/.mvn/wrapper/maven-wrapper.properties
  java/native-image/public-static-main-native-image-maven/README.md
  java/native-image/public-static-main-native-image-maven/mvnw
  java/native-image/public-static-main-native-image-maven/mvnw.cmd
  java/native-image/public-static-main-native-image-maven/pom.xml
  java/native-image/public-static-main-native-image-maven/smoke_test/java_native_image_public_static_main_test.go
  java/native-image/spring-boot-native-image-gradle/build.gradle
  java/native-image/spring-boot-native-image-gradle/gradle/wrapper/gradle-wrapper.properties
  java/native-image/spring-boot-native-image-gradle/smoke_test/java_native_image_gradle_test.go
  java/native-image/spring-boot-native-image-maven/.mvn/wrapper/maven-wrapper.jar
  java/native-image/spring-boot-native-image-maven/.mvn/wrapper/maven-wrapper.properties
  java/native-image/spring-boot-native-image-maven/README.md
  java/native-image/spring-boot-native-image-maven/mvnw
  java/native-image/spring-boot-native-image-maven/pom.xml
  java/native-image/spring-boot-native-image-maven/smoke_test/java_native_image_maven_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/java-maintainers

Bump go versions
  .github/workflows/test-all-samples.yml
  .github/workflows/test-pull-request-ca-certificates.yml
  .github/workflows/test-pull-request-dotnet-core.yml
  .github/workflows/test-pull-request-git.yml
  .github/workflows/test-pull-request-go.yml
  .github/workflows/test-pull-request-java.yml
  .github/workflows/test-pull-request-nodejs.yml
  .github/workflows/test-pull-request-php.yml
  .github/workflows/test-pull-request-procfile.yml
  .github/workflows/test-pull-request-python.yml
  .github/workflows/test-pull-request-ruby.yml
  .github/workflows/test-pull-request-web-servers.yml
  go.mod
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Update to work with Gradle 9
  java/dist-zip/build.gradle
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools (#1276)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Test lifecycle bug
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Add workflow to trigger
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Add pack
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Swap in specific lifecycle with potential fix
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Rollback pack
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Rollback pack again
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Attempt to get a working build
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Try direct lifecycle image
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Add trust builder
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Disable containerd
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Test web
  .github/workflows/test-pull-request-web-servers.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Update trigger
  .github/workflows/test-pull-request-web-servers.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Add pack
  .github/workflows/test-pull-request-web-servers.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Add docker info
  .github/workflows/test-pull-request-procfile.yml
  .github/workflows/test-pull-request-web-servers.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Add new builders to Node.js test workflow
  .github/workflows/test-pull-request-nodejs.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

fix: altering smoke script to support pull-policy
  scripts/smoke.sh
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

fix: setting pull policy conditionaly in nodejs
  nodejs/nodejs_test.go
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

fix: adding noble, ubi8, ubi9 & ubi10 builders
  .github/workflows/test-pull-request-nodejs.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Adding ubuntu builders and ubi builders on the nodejs sample tests (#1311)
  .github/workflows/test-pull-request-nodejs.yml
  nodejs/nodejs_test.go
  scripts/smoke.sh
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/nodejs-maintainers

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools (#1312)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Adding ubi builders to the procfiles
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Update .github/workflows/test-pull-request-procfile.yml
  .github/workflows/test-pull-request-procfile.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Fix: triggering testing workflows when the test workflow has changed
  .github/workflows/java-akka.yml
  .github/workflows/java-application-insights.yml
  .github/workflows/java-aspectj.yml
  .github/workflows/java-dist-zip.yml
  .github/workflows/java-gradle-node.yml
  .github/workflows/java-gradle.yml
  .github/workflows/java-kotlin.yml
  .github/workflows/java-leiningen.yml
  .github/workflows/java-maven-yarn.yml
  .github/workflows/java-maven.yml
  .github/workflows/java-opentelemetry.yml
  .github/workflows/java-public-static-main-native-image-maven.yml
  .github/workflows/java-quarkus-native-image-maven.yml
  .github/workflows/java-spring-boot-native-image-gradle.yml
  .github/workflows/java-spring-boot-native-image-maven.yml
  .github/workflows/java-war-spring.yml
  .github/workflows/java-war.yml
  .github/workflows/test-pull-request-ca-certificates.yml
  .github/workflows/test-pull-request-git.yml
  .github/workflows/test-pull-request-java.yml
  .github/workflows/test-pull-request-php.yml
  .github/workflows/test-pull-request-procfile.yml
  .github/workflows/test-pull-request-ruby.yml
  .github/workflows/test-pull-request-web-servers.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools (#1325)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Use Java 25
  java/native-image/quarkus-native-image-maven/pom.xml
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

More Java 25 updates
  .github/workflows/java-quarkus-native-image-maven.yml
  java/native-image/quarkus-native-image-maven/smoke_test/java_native_image_quarkus_native_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/java-maintainers

feat: yarn-berry
  nodejs/yarn-berry/.gitignore
  nodejs/yarn-berry/.yarn/releases/yarn-4.12.0.cjs
  nodejs/yarn-berry/.yarnrc.yml
  nodejs/yarn-berry/README.md
  nodejs/yarn-berry/package.json
  nodejs/yarn-berry/server.js
  nodejs/yarn-berry/yarn.lock
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updates tools (#1401)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Update dependabot.yml
  .github/dependabot.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

.github/CODEOWNERS:

*                @paketo-buildpacks/content-maintainers @paketo-buildpacks/steering-committee
ca-certificates/ @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
dotnet-core/     @paketo-buildpacks/dotnet-core-maintainers @paketo-buildpacks/steering-committee
git/             @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
go/              @paketo-buildpacks/go-maintainers @paketo-buildpacks/steering-committee
java/            @paketo-buildpacks/java-maintainers @paketo-buildpacks/steering-committee
nginx/           @paketo-buildpacks/web-servers-maintainers @paketo-buildpacks/steering-committee
nodejs/          @paketo-buildpacks/nodejs-maintainers @paketo-buildpacks/steering-committee
php/             @paketo-buildpacks/php-maintainers @paketo-buildpacks/steering-committee
procfile/        @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
python/          @paketo-buildpacks/python-maintainers @paketo-buildpacks/steering-committee
ruby/            @paketo-buildpacks/ruby-maintainers @paketo-buildpacks/steering-committee
web-servers/     @paketo-buildpacks/web-servers-maintainers @paketo-buildpacks/steering-committee
