Repository paketo-buildpacks/samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/java-buildpacks, @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/ruby-maintainers

update rackup config to bind to 0.0.0.0
  ruby/rackup/config.ru
Owners: @paketo-buildpacks/ruby-maintainers

Include spring-graalvm-native dependency in pom.xml.
  java/native-image/pom.xml
Owners: @paketo-buildpacks/java-buildpacks

Include spring-graalvm-native dependency in pom.xml.
  java/native-image/pom.xml
Owners: @paketo-buildpacks/java-buildpacks

WIP - adding tests for all samples
  .github/pack-version
  scripts/.util/print.sh
  scripts/.util/tools.sh
  scripts/smoke.sh
  tests/go.mod
  tests/go.sum
  tests/go_test.go
  tests/init_test.go
Owners: @paketo-buildpacks/content-maintainers

Handle multiple builders in tests
  scripts/smoke.sh
  tests/go_test.go
  tests/init_test.go
Owners: @paketo-buildpacks/content-maintainers

Use closure function to pass builder to tests
  tests/go.mod
  tests/go.sum
  tests/go_test.go
  tests/init_test.go
  tests/java_native_image_test.go
Owners: @paketo-buildpacks/content-maintainers

Add tests and use new occam serve matcher in go tests
  java/leiningen/README.md
  scripts/smoke.sh
  tests/dotnet_test.go
  tests/go.mod
  tests/go.sum
  tests/httpd_test.go
  tests/init_test.go
  tests/java_native_image_test.go
  tests/java_test.go
  tests/nginx_test.go
  tests/node_test.go
  tests/php_test.go
  tests/procfile_test.go
  tests/ruby_test.go
Owners: @paketo-buildpacks/java-buildpacks, @paketo-buildpacks/content-maintainers

revert leiningen readme edit
  java/leiningen/README.md
Owners: @paketo-buildpacks/java-buildpacks

remove todo
  scripts/smoke.sh
Owners: @paketo-buildpacks/content-maintainers

add instructions to README for adding samples/testing
  README.md
Owners: @paketo-buildpacks/content-maintainers

Fixes failing dotnet test
  dotnet-core/runtime/Program.cs
  tests/dotnet_test.go
Owners: @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/content-maintainers

add .gitignore
  .gitignore
Owners: @paketo-buildpacks/content-maintainers

add instructions to README for adding samples/testing
  README.md
Owners: @paketo-buildpacks/content-maintainers

add .gitignore
  .gitignore
Owners: @paketo-buildpacks/content-maintainers

remove todo
  scripts/smoke.sh
Owners: @paketo-buildpacks/content-maintainers

Handle multiple builders in tests
  scripts/smoke.sh
  tests/go_test.go
  tests/init_test.go
Owners: @paketo-buildpacks/content-maintainers

Add tests and use new occam serve matcher in go tests
  java/leiningen/README.md
  scripts/smoke.sh
  tests/dotnet_test.go
  tests/go.mod
  tests/go.sum
  tests/httpd_test.go
  tests/init_test.go
  tests/java_native_image_test.go
  tests/java_test.go
  tests/nginx_test.go
  tests/node_test.go
  tests/php_test.go
  tests/procfile_test.go
  tests/ruby_test.go
Owners: @paketo-buildpacks/java-buildpacks, @paketo-buildpacks/content-maintainers

Use closure function to pass builder to tests
  tests/go.mod
  tests/go.sum
  tests/go_test.go
  tests/init_test.go
  tests/java_native_image_test.go
Owners: @paketo-buildpacks/content-maintainers

WIP - adding tests for all samples
  .github/pack-version
  scripts/.util/print.sh
  scripts/.util/tools.sh
  scripts/smoke.sh
  tests/go.mod
  tests/go.sum
  tests/go_test.go
  tests/init_test.go
Owners: @paketo-buildpacks/content-maintainers

Fixes failing dotnet test
  dotnet-core/runtime/Program.cs
  tests/dotnet_test.go
Owners: @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/content-maintainers

revert leiningen readme edit
  java/leiningen/README.md
Owners: @paketo-buildpacks/java-buildpacks

Adds sample Go app that does not import modules
  go/no-imports/README.md
  go/no-imports/main.go
  tests/go_test.go
Owners: @paketo-buildpacks/go-maintainers, @paketo-buildpacks/content-maintainers

Adds Nodejs sample app that does not use a package manager
  nodejs/no-package-manager/README.md
  nodejs/no-package-manager/server.js
  tests/node_test.go
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/content-maintainers

Adds sample to README
  README.md
Owners: @paketo-buildpacks/content-maintainers

Adds sample to README
  README.md
Owners: @paketo-buildpacks/content-maintainers

php/composer: sample that uses composer
  php/composer/README.md
  php/composer/composer.json
  php/composer/composer.lock
  php/composer/htdocs/.env
  php/composer/htdocs/index.php
Owners: @paketo-buildpacks/php-maintainers

Add php composer test
  tests/php_test.go
Owners: @paketo-buildpacks/content-maintainers

composer: Add link in Readme
  README.md
Owners: @paketo-buildpacks/content-maintainers

Update tests/node_test.go
  tests/node_test.go
Owners: @paketo-buildpacks/content-maintainers

composer: Add link in Readme
  README.md
Owners: @paketo-buildpacks/content-maintainers

Add php composer test
  tests/php_test.go
Owners: @paketo-buildpacks/content-maintainers

php/composer: sample that uses composer
  php/composer/README.md
  php/composer/composer.json
  php/composer/composer.lock
  php/composer/htdocs/.env
  php/composer/htdocs/index.php
Owners: @paketo-buildpacks/php-maintainers

tests try to determine which sample apps should be tested
  .github/workflows/test-pull-request.yml
  scripts/smoke.sh
  tests/go.mod
  tests/go.sum
  tests/init_test.go
Owners: @paketo-buildpacks/content-maintainers

removes test-skipping in individual test files
  tests/dotnet_test.go
  tests/httpd_test.go
  tests/init_test.go
  tests/java_test.go
  tests/nginx_test.go
  tests/node_test.go
  tests/php_test.go
  tests/procfile_test.go
  tests/ruby_test.go
Owners: @paketo-buildpacks/content-maintainers

WIP adds suites for Dotnet and Go tests
  .github/workflows/test-pull-request.yml
  go/dep/README.md
  scripts/smoke.sh
  tests/dotnet_test.go
  tests/go_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/go-maintainers

add NGINX to set of samples tested with base builder
  tests/init_test.go
Owners: @paketo-buildpacks/content-maintainers

Makes procfile sample compatible with running on Tiny
  procfile/Procfile
  procfile/config.yml
Owners: @paketo-buildpacks/java-buildpacks

Makes the Procfile tests run on the Tiny builder
  tests/procfile_test.go
Owners: @paketo-buildpacks/content-maintainers

creates test suites for each language family
  dotnet-core/dotnet_test.go
  go.mod
  go.sum
  go/go_test.go
  httpd/httpd-sample/README.md
  httpd/httpd-sample/htdocs/index.html
  httpd/httpd-sample/httpd.conf
  httpd/httpd_test.go
  java/java_native_image_test.go
  java/java_test.go
  nginx/nginx-sample/README.md
  nginx/nginx-sample/buildpack.yml
  nginx/nginx-sample/mime.types
  nginx/nginx-sample/nginx.conf
  nginx/nginx-sample/public/index.html
  nginx/nginx_test.go
  nodejs/nodejs_test.go
  php/php_test.go
  procfile/procfile-sample/Procfile
  procfile/procfile-sample/README.md
  procfile/procfile-sample/web/hello-world.txt
  procfile/procfile_test.go
  ruby/ruby_test.go
  scripts/smoke.sh
  tests/init_test.go
  tests/test_utilities.go
Owners: @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/content-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/java-buildpacks, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/ruby-maintainers

separates language family test workflows
  .github/workflows/test-pull-request-dotnet-core.yml
  .github/workflows/test-pull-request-go.yml
  .github/workflows/test-pull-request-httpd.yml
  .github/workflows/test-pull-request-java.yml
  .github/workflows/test-pull-request-nginx.yml
  .github/workflows/test-pull-request-nodejs.yml
  .github/workflows/test-pull-request-php.yml
  .github/workflows/test-pull-request-procfile.yml
  .github/workflows/test-pull-request-ruby.yml
  .github/workflows/test-pull-request.yml
Owners: @paketo-buildpacks/content-maintainers

.github/CODEOWNERS:

*                @paketo-buildpacks/content-maintainers
ca-certificates/ @paketo-buildpacks/java-buildpacks
dotnet-core/     @paketo-buildpacks/dotnet-core-maintainers
go/              @paketo-buildpacks/go-maintainers
httpd/           @paketo-buildpacks/php-maintainers
java/            @paketo-buildpacks/java-buildpacks
nginx/           @paketo-buildpacks/php-maintainers
nodejs/          @paketo-buildpacks/nodejs-maintainers
php/             @paketo-buildpacks/php-maintainers
procfile/        @paketo-buildpacks/java-buildpacks
ruby/            @paketo-buildpacks/ruby-maintainers
