Repository paketo-buildpacks/samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/utilities-maintainers, @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/java-maintainers, @paketo-buildpacks/web-servers-maintainers, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/python-maintainers, @paketo-buildpacks/ruby-maintainers

.github/CODEOWNERS:

*                @paketo-buildpacks/content-maintainers @paketo-buildpacks/steering-committee
ca-certificates/ @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
dotnet-core/     @paketo-buildpacks/dotnet-core-maintainers @paketo-buildpacks/steering-committee
git/             @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
go/              @paketo-buildpacks/go-maintainers @paketo-buildpacks/steering-committee
java/            @paketo-buildpacks/java-maintainers @paketo-buildpacks/steering-committee
nginx/           @paketo-buildpacks/web-servers-maintainers @paketo-buildpacks/steering-committee
nodejs/          @paketo-buildpacks/nodejs-maintainers @paketo-buildpacks/steering-committee
php/             @paketo-buildpacks/php-maintainers @paketo-buildpacks/steering-committee
procfile/        @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
python/          @paketo-buildpacks/python-maintainers @paketo-buildpacks/steering-committee
ruby/            @paketo-buildpacks/ruby-maintainers @paketo-buildpacks/steering-committee
web-servers/     @paketo-buildpacks/web-servers-maintainers @paketo-buildpacks/steering-committee

Update dependabot.yml (#1447)
  .github/dependabot.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updates tools (#1438)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Adding sample with native modules
  nodejs/npm_with_native_modules/hello_world/binding.gyp
  nodejs/npm_with_native_modules/hello_world/hello.cc
  nodejs/npm_with_native_modules/hello_world/hello.js
  nodejs/npm_with_native_modules/hello_world/package-lock.json
  nodejs/npm_with_native_modules/hello_world/package.json
  nodejs/npm_with_native_modules/package.json
  nodejs/npm_with_native_modules/server.js
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

Adding .gitignore
  nodejs/npm_with_native_modules/.gitignore
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

Commiting package-lock.json
  nodejs/npm_with_native_modules/package-lock.json
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

Removing package-lock.json of hello_world native modules
  nodejs/npm_with_native_modules/hello_world/package-lock.json
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

renaming nodejs sample with nodejs directory
  nodejs/npm-with-native-modules/.gitignore
  nodejs/npm-with-native-modules/README.md
  nodejs/npm-with-native-modules/hello_world/binding.gyp
  nodejs/npm-with-native-modules/hello_world/hello.cc
  nodejs/npm-with-native-modules/hello_world/hello.js
  nodejs/npm-with-native-modules/hello_world/package.json
  nodejs/npm-with-native-modules/package-lock.json
  nodejs/npm-with-native-modules/package.json
  nodejs/npm-with-native-modules/server.js
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

adding tests for the native modules
  nodejs/nodejs_test.go
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

Adding sample native modules (#1505)
  nodejs/nodejs_test.go
  nodejs/npm-with-native-modules/.gitignore
  nodejs/npm-with-native-modules/README.md
  nodejs/npm-with-native-modules/hello_world/binding.gyp
  nodejs/npm-with-native-modules/hello_world/hello.cc
  nodejs/npm-with-native-modules/hello_world/hello.js
  nodejs/npm-with-native-modules/hello_world/package.json
  nodejs/npm-with-native-modules/package-lock.json
  nodejs/npm-with-native-modules/package.json
  nodejs/npm-with-native-modules/server.js
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

feat: adding resolute to nodejs samples
  .github/workflows/test-pull-request-nodejs.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

feat: fixing readme files of nodejs sample apps to include all the existing builders
  nodejs/angular-npm/README.md
  nodejs/no-package-manager/README.md
  nodejs/npm-with-native-modules/README.md
  nodejs/npm/README.md
  nodejs/react-yarn/README.md
  nodejs/vue-npm/README.md
  nodejs/yarn/README.md
Owners: @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/steering-committee

Adding ubuntu resolute builder to the Nodejs samples (#1535)
  .github/workflows/test-pull-request-nodejs.yml
  nodejs/angular-npm/README.md
  nodejs/no-package-manager/README.md
  nodejs/npm-with-native-modules/README.md
  nodejs/npm/README.md
  nodejs/react-yarn/README.md
  nodejs/vue-npm/README.md
  nodejs/yarn/README.md
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/nodejs-maintainers

Copy pip to uv
  python/uv/Procfile
  python/uv/README.md
  python/uv/requirements.txt
  python/uv/server.py
  python/uv/templates/index.html
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Update README
  python/uv/README.md
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Add lock files
  python/uv/pyproject.toml
  python/uv/uv.lock
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Delete requirements.txt file
  python/uv/requirements.txt
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Add BP_ENABLE_PACKAGE_MANAGERS=true flag
  python/uv/README.md
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Add test
  python/python_test.go
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Run 'pipenv lock' in python/pipenv to ensure the lock file is correct
  python/pipenv/Pipfile.lock
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Update Flask and pin Werkzeug
  python/pipenv/Pipfile
  python/pipenv/Pipfile.lock
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Remove BP_ENABLE_PACKAGE_MANAGERS=true for uv since it's not needed
  python/python_test.go
  python/uv/README.md
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Copy pip to pixi
  python/pixi/Procfile
  python/pixi/README.md
  python/pixi/requirements.txt
  python/pixi/server.py
  python/pixi/templates/index.html
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Update Pixi sample and add test
  python/pixi/.gitattributes
  python/pixi/.gitignore
  python/pixi/README.md
  python/pixi/pixi.lock
  python/pixi/pixi.toml
  python/pixi/requirements.txt
  python/python_test.go
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Add sample for `uv` and `pixi` package managers (#1538)
  python/pipenv/Pipfile
  python/pipenv/Pipfile.lock
  python/pixi/.gitattributes
  python/pixi/.gitignore
  python/pixi/Procfile
  python/pixi/README.md
  python/pixi/pixi.lock
  python/pixi/pixi.toml
  python/pixi/server.py
  python/pixi/templates/index.html
  python/python_test.go
  python/uv/Procfile
  python/uv/README.md
  python/uv/pyproject.toml
  python/uv/server.py
  python/uv/templates/index.html
  python/uv/uv.lock
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Updates tools (#1471)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Fix issue with modern quarkus 3.37+ native-image args
  java/native-image/quarkus-native-image-maven/pom.xml
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

Migrate Java samples to Ubuntu Resolute builder * upgrade dependencies, * update configurations. * also some python test too
  .github/workflows/java-leiningen.yml
  .github/workflows/test-all-samples.yml
  .github/workflows/test-pull-request-java.yml
  go/go_test.go
  java/akka/README.md
  java/application-insights/README.md
  java/aspectj/README.md
  java/deps/README.md
  java/deps/deps.edn
  java/dist-zip/README.md
  java/dist-zip/build.gradle
  java/gradle/README.md
  java/gradle/build.gradle
  java/jar/README.md
  java/java-node/gradle-node/README.md
  java/java-node/gradle-node/build.gradle
  java/java-node/maven-yarn/README.md
  java/kotlin/README.md
  java/kotlin/build.gradle.kts
  java/leiningen/README.md
  java/leiningen/project.clj
  java/maven/README.md
  java/maven/pom.xml
  java/native-image/public-static-main-native-image-maven/README.md
  java/native-image/quarkus-native-image-maven/README.md
  java/native-image/quarkus-native-image-maven/pom.xml
  java/native-image/spring-boot-native-image-gradle/README.md
  java/native-image/spring-boot-native-image-gradle/build.gradle
  java/native-image/spring-boot-native-image-maven/README.md
  java/native-image/spring-boot-native-image-maven/pom.xml
  java/opentelemetry/README.md
  java/opentelemetry/build.gradle
  java/tools-build/README.md
  java/tools-build/deps.edn
  java/war-spring/README.md
  java/war-spring/pom.xml
  python/python_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/java-maintainers, @paketo-buildpacks/python-maintainers

Add basic build commands and advanced configuration * examples across Java samples' READMEs
  java/akka/README.md
  java/application-insights/README.md
  java/aspectj/README.md
  java/deps/README.md
  java/dist-zip/README.md
  java/gradle/README.md
  java/jar/README.md
  java/java-node/gradle-node/README.md
  java/java-node/maven-yarn/README.md
  java/kotlin/README.md
  java/leiningen/README.md
  java/maven/README.md
  java/opentelemetry/README.md
  java/tools-build/README.md
  java/war-spring/README.md
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

Don't include Go for now
  .github/workflows/test-all-samples.yml
  go/go_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/go-maintainers

Update python/python_test.go
  python/python_test.go
Owners: @paketo-buildpacks/python-maintainers, @paketo-buildpacks/steering-committee

Update GitHub Actions workflow and Pipfile.lock dependencies
  .github/workflows/java-leiningen.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Defer Python samples to the Python maintainers
  .github/workflows/test-all-samples.yml
  python/python_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/python-maintainers

Address @miller79 comments about tiny run-image * just for native java
  java/native-image/public-static-main-native-image-maven/smoke_test/java_native_image_public_static_main_test.go
  java/native-image/quarkus-native-image-maven/smoke_test/java_native_image_quarkus_native_test.go
  java/native-image/spring-boot-native-image-gradle/smoke_test/java_native_image_gradle_test.go
  java/native-image/spring-boot-native-image-maven/smoke_test/java_native_image_maven_test.go
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

Explain the tiny run-image arguments
  java/native-image/public-static-main-native-image-maven/README.md
  java/native-image/quarkus-native-image-maven/README.md
  java/native-image/spring-boot-native-image-gradle/README.md
  java/native-image/spring-boot-native-image-maven/README.md
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

Use registry buildpack refs with explicit tags in opentelemetry sample
  java/opentelemetry/README.md
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee

Migrate Java samples to Ubuntu Resolute builder (#1536)
  .github/workflows/java-leiningen.yml
  .github/workflows/test-all-samples.yml
  .github/workflows/test-pull-request-java.yml
  java/akka/README.md
  java/application-insights/README.md
  java/aspectj/README.md
  java/deps/README.md
  java/deps/deps.edn
  java/dist-zip/README.md
  java/dist-zip/build.gradle
  java/gradle/README.md
  java/gradle/build.gradle
  java/jar/README.md
  java/java-node/gradle-node/README.md
  java/java-node/gradle-node/build.gradle
  java/java-node/maven-yarn/README.md
  java/kotlin/README.md
  java/kotlin/build.gradle.kts
  java/leiningen/README.md
  java/leiningen/project.clj
  java/maven/README.md
  java/maven/pom.xml
  java/native-image/public-static-main-native-image-maven/README.md
  java/native-image/public-static-main-native-image-maven/smoke_test/java_native_image_public_static_main_test.go
  java/native-image/quarkus-native-image-maven/README.md
  java/native-image/quarkus-native-image-maven/pom.xml
  java/native-image/quarkus-native-image-maven/smoke_test/java_native_image_quarkus_native_test.go
  java/native-image/spring-boot-native-image-gradle/README.md
  java/native-image/spring-boot-native-image-gradle/build.gradle
  java/native-image/spring-boot-native-image-gradle/smoke_test/java_native_image_gradle_test.go
  java/native-image/spring-boot-native-image-maven/README.md
  java/native-image/spring-boot-native-image-maven/pom.xml
  java/native-image/spring-boot-native-image-maven/smoke_test/java_native_image_maven_test.go
  java/opentelemetry/README.md
  java/opentelemetry/build.gradle
  java/tools-build/README.md
  java/tools-build/deps.edn
  java/war-spring/README.md
  java/war-spring/pom.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/java-maintainers

Adding response from root url
  java/maven/src/main/java/io/paketo/demo/HomeController.java
Owners: @paketo-buildpacks/java-maintainers, @paketo-buildpacks/steering-committee
