Repository paketo-buildpacks/samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/java-buildpacks, @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/ruby-maintainers

Update README.md
  nodejs/npm/README.md
Owners: @paketo-buildpacks/nodejs-maintainers

Update README.md
  nodejs/npm/README.md
Owners: @paketo-buildpacks/nodejs-maintainers

Add node-run-script samples for nodejs
  nodejs/angular-npm/README.md
  nodejs/angular-npm/angular.json
  nodejs/angular-npm/package.json
  nodejs/angular-npm/src/app/app.component.ts
  nodejs/angular-npm/src/app/app.module.ts
  nodejs/angular-npm/src/assets/.gitkeep
  nodejs/angular-npm/src/environments/environment.prod.ts
  nodejs/angular-npm/src/environments/environment.ts
  nodejs/angular-npm/src/favicon.ico
  nodejs/angular-npm/src/index.html
  nodejs/angular-npm/src/main.ts
  nodejs/angular-npm/src/polyfills.ts
  nodejs/angular-npm/src/styles.css
  nodejs/angular-npm/tsconfig.app.json
  nodejs/angular-npm/tsconfig.json
  nodejs/nodejs_test.go
  nodejs/react-yarn/.gitignore
  nodejs/react-yarn/README.md
  nodejs/react-yarn/package.json
  nodejs/react-yarn/public/index.html
  nodejs/react-yarn/public/manifest.json
  nodejs/react-yarn/public/robots.txt
  nodejs/react-yarn/src/App.css
  nodejs/react-yarn/src/App.js
  nodejs/react-yarn/src/index.js
  nodejs/react-yarn/yarn.lock
  nodejs/vue-npm/README.md
  nodejs/vue-npm/package.json
  nodejs/vue-npm/public/index.html
  nodejs/vue-npm/src/App.vue
  nodejs/vue-npm/src/components/HelloWorld.vue
  nodejs/vue-npm/src/index.html
  nodejs/vue-npm/src/main.js
Owners: @paketo-buildpacks/nodejs-maintainers

Add node-run-script samples for nodejs
  nodejs/angular-npm/README.md
  nodejs/angular-npm/angular.json
  nodejs/angular-npm/package.json
  nodejs/angular-npm/src/app/app.component.ts
  nodejs/angular-npm/src/app/app.module.ts
  nodejs/angular-npm/src/assets/.gitkeep
  nodejs/angular-npm/src/environments/environment.prod.ts
  nodejs/angular-npm/src/environments/environment.ts
  nodejs/angular-npm/src/favicon.ico
  nodejs/angular-npm/src/index.html
  nodejs/angular-npm/src/main.ts
  nodejs/angular-npm/src/polyfills.ts
  nodejs/angular-npm/src/styles.css
  nodejs/angular-npm/tsconfig.app.json
  nodejs/angular-npm/tsconfig.json
  nodejs/nodejs_test.go
  nodejs/react-yarn/.gitignore
  nodejs/react-yarn/README.md
  nodejs/react-yarn/package.json
  nodejs/react-yarn/public/index.html
  nodejs/react-yarn/public/manifest.json
  nodejs/react-yarn/public/robots.txt
  nodejs/react-yarn/src/App.css
  nodejs/react-yarn/src/App.js
  nodejs/react-yarn/src/index.js
  nodejs/react-yarn/yarn.lock
  nodejs/vue-npm/README.md
  nodejs/vue-npm/package.json
  nodejs/vue-npm/public/index.html
  nodejs/vue-npm/src/App.vue
  nodejs/vue-npm/src/components/HelloWorld.vue
  nodejs/vue-npm/src/index.html
  nodejs/vue-npm/src/main.js
Owners: @paketo-buildpacks/nodejs-maintainers

Update react-yarn sample
  nodejs/react-yarn/.gitignore
  nodejs/react-yarn/public/index.html
  nodejs/react-yarn/src/App.css
  nodejs/react-yarn/src/App.js
  nodejs/react-yarn/src/index.js
Owners: @paketo-buildpacks/nodejs-maintainers

Update react-yarn sample
  nodejs/react-yarn/.gitignore
  nodejs/react-yarn/public/index.html
  nodejs/react-yarn/src/App.css
  nodejs/react-yarn/src/App.js
  nodejs/react-yarn/src/index.js
Owners: @paketo-buildpacks/nodejs-maintainers

Bump Spring Boot to 2.5.4 and Spring Native to 0.10.2
  java/native-image/java-native-image-sample/pom.xml
Owners: @paketo-buildpacks/java-buildpacks

Bump packit version to v1.0.0
  go.mod
  go.sum
Owners: @paketo-buildpacks/content-maintainers

Bump packit version to v1.0.0
  go.mod
  go.sum
Owners: @paketo-buildpacks/content-maintainers

Add python samples
  python/conda/Procfile
  python/conda/README.md
  python/conda/app.py
  python/conda/environment.yml
  python/conda/templates/index.html
  python/no_package_manager/Procfile
  python/no_package_manager/README.md
  python/no_package_manager/output.txt
  python/no_package_manager/server.py
  python/no_package_manager/web/index.html
  python/pip/Procfile
  python/pip/README.md
  python/pip/buildpack.yml
  python/pip/requirements.txt
  python/pip/server.py
  python/pip/templates/index.html
  python/pipenv/.gitignore
  python/pipenv/Pipfile
  python/pipenv/Pipfile.lock
  python/pipenv/Procfile
  python/pipenv/README.md
  python/pipenv/server.py
  python/pipenv/templates/index.html
  python/python_test.go
Owners: @paketo-buildpacks/content-maintainers

Consume from builder
  python/python_test.go
Owners: @paketo-buildpacks/content-maintainers

Python: workflow and readme
  .github/workflows/test-pull-request-python.yml
  README.md
Owners: @paketo-buildpacks/content-maintainers

Python pip sample: fix dep conflict
  python/pip/buildpack.yml
  python/pip/requirements.txt
Owners: @paketo-buildpacks/content-maintainers

Python: remove log file
  python/no_package_manager/output.txt
Owners: @paketo-buildpacks/content-maintainers

Add python samples (#157)
  .github/workflows/test-pull-request-python.yml
  README.md
  python/conda/Procfile
  python/conda/README.md
  python/conda/app.py
  python/conda/environment.yml
  python/conda/templates/index.html
  python/no_package_manager/Procfile
  python/no_package_manager/README.md
  python/no_package_manager/server.py
  python/no_package_manager/web/index.html
  python/pip/Procfile
  python/pip/README.md
  python/pip/requirements.txt
  python/pip/server.py
  python/pip/templates/index.html
  python/pipenv/.gitignore
  python/pipenv/Pipfile
  python/pipenv/Pipfile.lock
  python/pipenv/Procfile
  python/pipenv/README.md
  python/pipenv/server.py
  python/pipenv/templates/index.html
  python/python_test.go
Owners: @paketo-buildpacks/content-maintainers

Fix typo
  python/python_test.go
Owners: @paketo-buildpacks/content-maintainers

Add clojure tools build sample
  java/tools-build/README.md
  java/tools-build/build.clj
  java/tools-build/config/logback.xml
  java/tools-build/deps.edn
  java/tools-build/src/toolsbuild_source/server.clj
  java/tools-build/src/toolsbuild_source/service.clj
  java/tools-build/test/toolsbuild_source/service_test.clj
Owners: @paketo-buildpacks/java-buildpacks

Add :main
  java/tools-build/build.clj
Owners: @paketo-buildpacks/java-buildpacks

Add clojure deps sample
  java/deps/README.md
  java/deps/config/logback.xml
  java/deps/deps.edn
  java/deps/src/deps_source/server.clj
  java/deps/src/deps_source/service.clj
  java/deps/test/deps_source/service_test.clj
Owners: @paketo-buildpacks/java-buildpacks

Add deps and tools-build to java_test
  java/java_test.go
Owners: @paketo-buildpacks/java-buildpacks

Bump Spring Boot to 2.5.5 and Spring Native to 0.10.3
  java/native-image/java-native-image-sample/pom.xml
Owners: @paketo-buildpacks/java-buildpacks

Update angular sample app
  nodejs/angular-npm/angular.json
  nodejs/angular-npm/karma.conf.js
  nodejs/angular-npm/package.json
  nodejs/angular-npm/src/app/app.component.css
  nodejs/angular-npm/src/app/app.component.html
  nodejs/angular-npm/src/app/app.component.spec.ts
  nodejs/angular-npm/src/app/app.component.ts
  nodejs/angular-npm/src/index.html
  nodejs/angular-npm/src/polyfills.ts
  nodejs/angular-npm/src/test.ts
  nodejs/angular-npm/tsconfig.json
  nodejs/angular-npm/tsconfig.spec.json
Owners: @paketo-buildpacks/nodejs-maintainers

samples: fix port
  nodejs/angular-npm/package.json
Owners: @paketo-buildpacks/nodejs-maintainers

sample: add powered by paketo
  nodejs/angular-npm/src/index.html
Owners: @paketo-buildpacks/nodejs-maintainers

placeholder change
  go/go_test.go
Owners: @paketo-buildpacks/go-maintainers

use tools.json for pack version
  .github/pack-version
  .github/workflows/update-tools.yml
  scripts/.util/tools.json
  scripts/.util/tools.sh
Owners: @paketo-buildpacks/content-maintainers

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers

Updating tools (#209)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers

Correct header
  php/httpd/README.md
Owners: @paketo-buildpacks/php-maintainers

Updates log expectation
  php/php_test.go
Owners: @paketo-buildpacks/php-maintainers

Correct header
  php/httpd/README.md
Owners: @paketo-buildpacks/php-maintainers

Updates log expectation
  php/php_test.go
Owners: @paketo-buildpacks/php-maintainers

Reuse existing Gradle & Maven caches
  go.mod
  go.sum
  java/java_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/java-buildpacks

Use action/cache to cache both the Gradle & Maven caches
  .github/workflows/test-pull-request-java-native-image.yml
  .github/workflows/test-pull-request-java.yml
Owners: @paketo-buildpacks/content-maintainers

Precreate directories, if they do not exist, and set file permissions.
  .github/workflows/test-pull-request-java-native-image.yml
  .github/workflows/test-pull-request-java.yml
  go.mod
  go.sum
  java/java_test.go
  java/native-image/java_native_image_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/java-buildpacks

Skip akka & dist-zip on tiny as they require bash
  go.mod
  go.sum
  java/java_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/java-buildpacks

Use action/cache to cache both the Gradle & Maven caches
  .github/workflows/test-pull-request-java-native-image.yml
  .github/workflows/test-pull-request-java.yml
Owners: @paketo-buildpacks/content-maintainers

Skip akka & dist-zip on tiny as they require bash
  go.mod
  go.sum
  java/java_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/java-buildpacks

Precreate directories, if they do not exist, and set file permissions.
  .github/workflows/test-pull-request-java-native-image.yml
  .github/workflows/test-pull-request-java.yml
  go.mod
  go.sum
  java/java_test.go
  java/native-image/java_native_image_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/java-buildpacks

Reuse existing Gradle & Maven caches
  go.mod
  go.sum
  java/java_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/java-buildpacks

.github/CODEOWNERS:

*                @paketo-buildpacks/content-maintainers
ca-certificates/ @paketo-buildpacks/java-buildpacks
dotnet-core/     @paketo-buildpacks/dotnet-core-maintainers
go/              @paketo-buildpacks/go-maintainers
httpd/           @paketo-buildpacks/php-maintainers
java/            @paketo-buildpacks/java-buildpacks
nginx/           @paketo-buildpacks/php-maintainers
nodejs/          @paketo-buildpacks/nodejs-maintainers
php/             @paketo-buildpacks/php-maintainers
procfile/        @paketo-buildpacks/java-buildpacks
ruby/            @paketo-buildpacks/ruby-maintainers
