Repository paketo-buildpacks/samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/java-buildpacks, @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/ruby-maintainers

supports multiple --suite flags, updates usage output
  scripts/smoke.sh
Owners: @paketo-buildpacks/content-maintainers

updates README with testing information
  README.md
Owners: @paketo-buildpacks/content-maintainers

upgrades to go 1.16
  .github/workflows/test-pull-request-dotnet-core.yml
  .github/workflows/test-pull-request-go.yml
  .github/workflows/test-pull-request-httpd.yml
  .github/workflows/test-pull-request-java.yml
  .github/workflows/test-pull-request-nginx.yml
  .github/workflows/test-pull-request-nodejs.yml
  .github/workflows/test-pull-request-php.yml
  .github/workflows/test-pull-request-procfile.yml
  .github/workflows/test-pull-request-ruby.yml
  go.mod
Owners: @paketo-buildpacks/content-maintainers

don't infer builder type. just run tests against all passed builders
  .github/workflows/test-pull-request-dotnet-core.yml
  .github/workflows/test-pull-request-httpd.yml
  .github/workflows/test-pull-request-java-native-image.yml
  .github/workflows/test-pull-request-java.yml
  .github/workflows/test-pull-request-nginx.yml
  .github/workflows/test-pull-request-nodejs.yml
  .github/workflows/test-pull-request-php.yml
  .github/workflows/test-pull-request-procfile.yml
  dotnet-core/dotnet_test.go
  go/dep/README.md
  go/go_test.go
  httpd/httpd_test.go
  java/java_test.go
  java/native-image/java-native-image-sample/.gitignore
  java/native-image/java-native-image-sample/.mvn/wrapper/MavenWrapperDownloader.java
  java/native-image/java-native-image-sample/.mvn/wrapper/maven-wrapper.jar
  java/native-image/java-native-image-sample/.mvn/wrapper/maven-wrapper.properties
  java/native-image/java-native-image-sample/README.md
  java/native-image/java-native-image-sample/mvnw
  java/native-image/java-native-image-sample/mvnw.cmd
  java/native-image/java-native-image-sample/pom.xml
  java/native-image/java-native-image-sample/src/main/java/io/paketo/demo/DemoApplication.java
  java/native-image/java-native-image-sample/src/main/resources/application.properties
  java/native-image/java-native-image-sample/src/test/java/io/paketo/demo/DemoApplicationTests.java
  java/native-image/java_native_image_test.go
  nginx/nginx_test.go
  nodejs/nodejs_test.go
  php/php_test.go
  procfile/procfile_test.go
  ruby/ruby_test.go
  tests/test_utilities.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/java-buildpacks, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/ruby-maintainers

fixes java native image unit testing workflow
  .github/workflows/java-native-image.yml
Owners: @paketo-buildpacks/content-maintainers

fix paths parameter in java test workflow
  .github/workflows/test-pull-request-java.yml
Owners: @paketo-buildpacks/content-maintainers

updates README with testing information
  README.md
Owners: @paketo-buildpacks/content-maintainers

fix paths parameter in java test workflow
  .github/workflows/test-pull-request-java.yml
Owners: @paketo-buildpacks/content-maintainers

upgrades to go 1.16
  .github/workflows/test-pull-request-dotnet-core.yml
  .github/workflows/test-pull-request-go.yml
  .github/workflows/test-pull-request-httpd.yml
  .github/workflows/test-pull-request-java.yml
  .github/workflows/test-pull-request-nginx.yml
  .github/workflows/test-pull-request-nodejs.yml
  .github/workflows/test-pull-request-php.yml
  .github/workflows/test-pull-request-procfile.yml
  .github/workflows/test-pull-request-ruby.yml
  go.mod
Owners: @paketo-buildpacks/content-maintainers

separates language family test workflows
  .github/workflows/test-pull-request-dotnet-core.yml
  .github/workflows/test-pull-request-go.yml
  .github/workflows/test-pull-request-httpd.yml
  .github/workflows/test-pull-request-java.yml
  .github/workflows/test-pull-request-nginx.yml
  .github/workflows/test-pull-request-nodejs.yml
  .github/workflows/test-pull-request-php.yml
  .github/workflows/test-pull-request-procfile.yml
  .github/workflows/test-pull-request-ruby.yml
  .github/workflows/test-pull-request.yml
Owners: @paketo-buildpacks/content-maintainers

add NGINX to set of samples tested with base builder
  tests/init_test.go
Owners: @paketo-buildpacks/content-maintainers

fixes java native image unit testing workflow
  .github/workflows/java-native-image.yml
Owners: @paketo-buildpacks/content-maintainers

WIP adds suites for Dotnet and Go tests
  .github/workflows/test-pull-request.yml
  go/dep/README.md
  scripts/smoke.sh
  tests/dotnet_test.go
  tests/go_test.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/go-maintainers

removes test-skipping in individual test files
  tests/dotnet_test.go
  tests/httpd_test.go
  tests/init_test.go
  tests/java_test.go
  tests/nginx_test.go
  tests/node_test.go
  tests/php_test.go
  tests/procfile_test.go
  tests/ruby_test.go
Owners: @paketo-buildpacks/content-maintainers

creates test suites for each language family
  dotnet-core/dotnet_test.go
  go.mod
  go.sum
  go/go_test.go
  httpd/httpd-sample/README.md
  httpd/httpd-sample/htdocs/index.html
  httpd/httpd-sample/httpd.conf
  httpd/httpd_test.go
  java/java_native_image_test.go
  java/java_test.go
  nginx/nginx-sample/README.md
  nginx/nginx-sample/buildpack.yml
  nginx/nginx-sample/mime.types
  nginx/nginx-sample/nginx.conf
  nginx/nginx-sample/public/index.html
  nginx/nginx_test.go
  nodejs/nodejs_test.go
  php/php_test.go
  procfile/procfile-sample/Procfile
  procfile/procfile-sample/README.md
  procfile/procfile-sample/web/hello-world.txt
  procfile/procfile_test.go
  ruby/ruby_test.go
  scripts/smoke.sh
  tests/init_test.go
  tests/test_utilities.go
Owners: @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/content-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/java-buildpacks, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/ruby-maintainers

tests try to determine which sample apps should be tested
  .github/workflows/test-pull-request.yml
  scripts/smoke.sh
  tests/go.mod
  tests/go.sum
  tests/init_test.go
Owners: @paketo-buildpacks/content-maintainers

supports multiple --suite flags, updates usage output
  scripts/smoke.sh
Owners: @paketo-buildpacks/content-maintainers

don't infer builder type. just run tests against all passed builders
  .github/workflows/test-pull-request-dotnet-core.yml
  .github/workflows/test-pull-request-httpd.yml
  .github/workflows/test-pull-request-java-native-image.yml
  .github/workflows/test-pull-request-java.yml
  .github/workflows/test-pull-request-nginx.yml
  .github/workflows/test-pull-request-nodejs.yml
  .github/workflows/test-pull-request-php.yml
  .github/workflows/test-pull-request-procfile.yml
  dotnet-core/dotnet_test.go
  go/dep/README.md
  go/go_test.go
  httpd/httpd_test.go
  java/java_test.go
  java/native-image/java-native-image-sample/.gitignore
  java/native-image/java-native-image-sample/.mvn/wrapper/MavenWrapperDownloader.java
  java/native-image/java-native-image-sample/.mvn/wrapper/maven-wrapper.jar
  java/native-image/java-native-image-sample/.mvn/wrapper/maven-wrapper.properties
  java/native-image/java-native-image-sample/README.md
  java/native-image/java-native-image-sample/mvnw
  java/native-image/java-native-image-sample/mvnw.cmd
  java/native-image/java-native-image-sample/pom.xml
  java/native-image/java-native-image-sample/src/main/java/io/paketo/demo/DemoApplication.java
  java/native-image/java-native-image-sample/src/main/resources/application.properties
  java/native-image/java-native-image-sample/src/test/java/io/paketo/demo/DemoApplicationTests.java
  java/native-image/java_native_image_test.go
  nginx/nginx_test.go
  nodejs/nodejs_test.go
  php/php_test.go
  procfile/procfile_test.go
  ruby/ruby_test.go
  tests/test_utilities.go
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/java-buildpacks, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/ruby-maintainers

generate new PR test workflows via script
  .github/test-workflow-template.yml
  README.md
  scripts/generate-test-workflow.sh
Owners: @paketo-buildpacks/content-maintainers

moves workflow template
  scripts/.util/test-workflow-template.yml
  scripts/generate-test-workflow.sh
Owners: @paketo-buildpacks/content-maintainers

generate new PR test workflows via script
  .github/test-workflow-template.yml
  README.md
  scripts/generate-test-workflow.sh
Owners: @paketo-buildpacks/content-maintainers

moves workflow template
  scripts/.util/test-workflow-template.yml
  scripts/generate-test-workflow.sh
Owners: @paketo-buildpacks/content-maintainers

Updates for new native-image usage
  java/native-image/java-native-image-sample/README.md
  java/native-image/java-native-image-sample/pom.xml
  java/native-image/java_native_image_test.go
Owners: @paketo-buildpacks/java-buildpacks

action/setup-java now requires distribution to be set
  .github/workflows/java-akka.yml
  .github/workflows/java-application-insights.yml
  .github/workflows/java-aspectj.yml
  .github/workflows/java-dist-zip.yml
  .github/workflows/java-gradle.yml
  .github/workflows/java-kotlin.yml
  .github/workflows/java-leiningen.yml
  .github/workflows/java-maven.yml
  .github/workflows/java-native-image.yml
  .github/workflows/java-war.yml
Owners: @paketo-buildpacks/content-maintainers

Update with example of using personal gradle.properties file
  java/gradle/README.md
Owners: @paketo-buildpacks/java-buildpacks

Add an example of attaching gradle bindings
  java/gradle/README.md
  java/gradle/bindings/gradle/gradle.properties
  java/gradle/bindings/gradle/type
Owners: @paketo-buildpacks/java-buildpacks

Update java/maven/bindings/gradle/settings.xml
  java/maven/bindings/gradle/settings.xml
Owners: @paketo-buildpacks/java-buildpacks

Adds an example of attaching maven bindings
  java/maven/README.md
  java/maven/bindings/gradle/settings.xml
  java/maven/bindings/gradle/type
Owners: @paketo-buildpacks/java-buildpacks

Update with example of using personal settings.xml file
  java/maven/README.md
Owners: @paketo-buildpacks/java-buildpacks

Fixed typo in binding folder name & path in README
  java/maven/README.md
  java/maven/bindings/maven/settings.xml
  java/maven/bindings/maven/type
Owners: @paketo-buildpacks/java-buildpacks

Bump up max metaspace for sample instructions, otherwise you'll end up with an OutOfMemoryError
  java/leiningen/README.md
Owners: @paketo-buildpacks/java-buildpacks

upgrade to node 12 after node 10 EOL
  demo-apps/app-source/package.json
Owners: @paketo-buildpacks/content-maintainers

Update package.json
  demo-apps/app-source/package.json
Owners: @paketo-buildpacks/content-maintainers

Upgrade gradle from 6.4 to 7.1
  java/dist-zip/gradle/wrapper/gradle-wrapper.properties
  java/gradle/gradle/wrapper/gradle-wrapper.properties
  java/kotlin/gradle/wrapper/gradle-wrapper.properties
Owners: @paketo-buildpacks/java-buildpacks

Bump to use Java 11
  java/application-insights/pom.xml
  java/aspectj/pom.xml
  java/maven/pom.xml
  java/native-image/java-native-image-sample/pom.xml
  java/war/pom.xml
Owners: @paketo-buildpacks/java-buildpacks

Force using the version of Java set by the matrix argument
  .github/workflows/java-application-insights.yml
  .github/workflows/java-aspectj.yml
  .github/workflows/java-maven.yml
  .github/workflows/java-native-image.yml
  .github/workflows/java-war.yml
Owners: @paketo-buildpacks/content-maintainers

Force using the version of Java set by the matrix argument
  .github/workflows/java-application-insights.yml
  .github/workflows/java-aspectj.yml
  .github/workflows/java-maven.yml
  .github/workflows/java-native-image.yml
  .github/workflows/java-war.yml
Owners: @paketo-buildpacks/content-maintainers

Bump to use Java 11
  java/application-insights/pom.xml
  java/aspectj/pom.xml
  java/maven/pom.xml
  java/native-image/java-native-image-sample/pom.xml
  java/war/pom.xml
Owners: @paketo-buildpacks/java-buildpacks

Upgrade to Spring Boot 2.5.2 & Spring Native 0.10
  java/native-image/java-native-image-sample/pom.xml
Owners: @paketo-buildpacks/java-buildpacks

Updates Spring Boot to the latest version, 2.5.3
  java/native-image/java-native-image-sample/pom.xml
Owners: @paketo-buildpacks/java-buildpacks

.github/CODEOWNERS:

*                @paketo-buildpacks/content-maintainers
ca-certificates/ @paketo-buildpacks/java-buildpacks
dotnet-core/     @paketo-buildpacks/dotnet-core-maintainers
go/              @paketo-buildpacks/go-maintainers
httpd/           @paketo-buildpacks/php-maintainers
java/            @paketo-buildpacks/java-buildpacks
nginx/           @paketo-buildpacks/php-maintainers
nodejs/          @paketo-buildpacks/nodejs-maintainers
php/             @paketo-buildpacks/php-maintainers
procfile/        @paketo-buildpacks/java-buildpacks
ruby/            @paketo-buildpacks/ruby-maintainers
